{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %} 
            

            <small>Login Now</small>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="id_email" placeholder="Enter your email">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="id_password1" id="password" placeholder="Password">
            </div>

            <div class="checkbox-container">
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>

                <a href="#">Forgot Password</a>
            </div>

            <button class="btn">Log In</button>

            <small>Don't have an account? <a href="{% url 'register' %} ">Register</a></small>
        </form>
    </div>
</body>
</html>