{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'base.css' %} ">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post" >
            {% csrf_token %} 

            <small>Join Us Today</small>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="id_email" placeholder="Enter your email">
            </div>
            
            <div class="form-control">
                <label for="first_name">First Name </label>
                <input type="text" id="id_first_name" placeholder="What's your surname ">
            </div>
            
            <div class="form-control">
                <label for="last_name">Last Name </label>
                <input type="text" id="id_last_name" placeholder="And your second name ">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="id_password1" placeholder="Enter Password">
            </div>
            
            <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" id="id_password2" placeholder="Enter Password Again ">
            </div>

            <button class="btn">Register</button>

            <small>Have an account? <a href="{% url 'login' %} ">Login </a></small>
        </form>  
    </div>
</body>
</html>