{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog Posts</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}" />
	</head>
	<body>
		<div class="container">
			{% for place in attraction_list %}
			<div class="card">
				<div class="card-header">
					<a href="{% url 'attraction_detail' place.id %}"/><img src="{{place.image.url}}" alt="{{place.name}}"/></a>
				</div>
				<div class="card-body">
					<span class="tag tag-pink">{{place.name}}</span>
					<h4>{{place.county}}</h4>
					<p>{{place.description}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>